<div class="minheight">
  <section id="home">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.5) 50%), url(<%= image_path "coding.jpg" %>);="">
      <div class="container">
        <div class="banner-content">
          <h1>Hi I'm Gregoire!</h1>
          <%= image_tag 'ThatsMe.jpg', class: "avatar-medium" %>
          <h1><strong> I design and build responsive</strong></h1>
          <h2 id="app"></h2>
          <div class="page-scroll skills text-center smooth-scroll" id="learnmore">
            <%= link_to "", "#myskills", class: "fas fa-chevron-circle-down fa-2x learnlink" %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="myskills">
    <div class="grey-background">
      <div class="container">
        <div class="text-center">
          <h3>My skills</h3>
        </div>
        <div class="row">
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-chess-bishop fa-2x icon-red"></i>
            <h4>Strategy</h4>
            <p>After 7+ years as a strategy consultant, I can help you develop and realize your ideas into clear, comprehensive and relevant design specs. This phase is crucial, this is where we will build the pillars of your product.</p>
          </div>
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-magic fa-2x icon-red"></i>
            <h4>UX/UI</h4>
            <p>I design and prototype wireframed interfaces focusing on user experience: a clear content structure, an intuitive UI and simple interactions.</p>
          </div>
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-code fa-2x icon-red"></i>
            <h4>Code</h4>
            <p>I work with HTML(5), CSS(3), Bootstrap and a touch of JavaScript for the Front-end, Ruby and SQL for the Back-end. I use Ruby-on-Rails framework.</p>
          </div>
        </div>
        <div class="row">
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-rocket fa-2x icon-red"></i>
            <h4>Project management</h4>
            <p>As a consultant, I developed an expertise in project management for an overall duration of 4+ years. I managed 8 different programs / projects for as many clients (mostly banks). Therefore I am used to planning constraints, reporting and professionalism.</p>
          </div>
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-university fa-2x icon-red"></i>
            <h4>Banking Sector</h4>
            <p>As a consultant, I have worked for almost every major bank in France. In my previous job, I was the expert regarding means of payment from both bank and clients sides.</p>
          </div>
          <div class="cols-xs-13 col-md-6 col-lg-4 text-center">
            <i class="fas fa-cogs fa-2x icon-red"></i>
            <h4>Coordination</h4>
            <p>4 years as a program/project manager help me build strong coordination skills. I can talk to your marketing teams as well as IT ones if needed and act as a go-between.</p>
          </div>
        </div>
        <div class="text-center interested-div">
          <%= link_to 'download my CV', '20180424 - Gregoire MALZAC - CV.pdf', download: '', class: "download-button" %>
        </div>
      </div>
    </div>
  </section>

  <section id="myportfolio">
    <div class="white-background">
      <div class="container">
        <div class="text-center">
          <h3>My portfolio</h3>
          <div class="row">
            <div class="cols-xs-12 col-md-4 text-center screens">
              <%= image_tag("journeaselaptopmobilemedium.png", :size => "350x243", class: "project-image") %>
            </div>
            <div class="cols-xs-12 col-md-8 text-left">
              <h4><%= link_to "Journease.online", "http://www.journease.online", target: "blank" %></h4>
              <p>Have you ever been on a trip exploring your mailbox to retrieve your plane tickets, the address of next accommodation booked on Airbnb or wondering which activity comes next? Not really funny, right?</p>
              <p>Journease helps you store all your travel information in one place. No more mailbox exploring, just let the app guide you to your next milestone. Cherry on the cake: you can also use it as group to divid the trip planning workload!</p>
              <p>I designed and built this MVP in 2 weeks within a team of 3.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="aboutme">
    <div class="grey-background">
      <div class="container">
        <div class="text-center">
          <h3>About me</h3>
          <p>I am a Fullstack Web Developper since early 2018. After 7+ years of management consulting in financial services as a manager, I got bored of spending more and more time in meetings, planning other people tasks, reporting... I needed something more concrete, more dynamic and more creative. It was time for a change!</p>
          <p>So I decided to leave Paris for London, consulting for coding and wage earning for freelancing. To do so, I completed a coding bootcamp (Le Wagon) in London - and that was a true life changing experience.</p>
          <p>I am now looking for ambitious and dynamic projects to work on to develop my coding skills and by capitalizing on my skills acquired as a consultant.</p>
          <p>When I don't code, I love cooking (it takes me around 6 hours to cook a Bolognese sauce but it's - very subjectively and absolutely not very humbly - unbeatable), hiking, running (1h37 to complete Paris 20km in 2017, my objective for 2018 < 1h33) and reading.</p>
          <p>More personnaly, I am a dynamic 33 year-old guy who always try to find the right balance between efficiency and quality. I usually go on well with everyone and I love to meet new people. One usually say that I have strong adaptation skills and I am very proud of it!</p>
          <p><strong>Interested?</strong></p>
          <div class="row">
          <div class="text-center interested-div" id="learnmore" >

            <%= link_to "Let's talk about your project!", "#contact", class: "interested-button" %>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="white-background">
    <section id="contact">
      <div class="container">
        <div class="text-center">
          <h3>Contact</h3>
            <p>You can contact me at <strong style="color:#e43c52">gregoire.malzac@gmail.com</strong></p>
            <p>Please introduce yourself and your project (what is it? why is it for? what do you expect from me? timelines and budget details are also appreciated...).</p>
            <p>I'll get in touch with you to schedule a time to chat. You should expect to hear from me in a day or so.</p>

<!--           <p>Please introduce yourself and your project, I'll get in touch with you to schedule a time to chat. You should expect to hear from me in a day or so.</p>
          <form action="/ma-page-de-traitement" method="post">
            <abbr title="required"></abbr>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div>
                  <label for="name"></label>
                  <input type="text" id="name" name="user_name" placeholder=" Your name*">
                  <abbr title="required"></abbr>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div>
                  <label for="mail"></label>
                  <input type="email" id="mail" name="user_mail" placeholder=" Your e-mail*">
                  <abbr title="required"></abbr>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div>
                  <label for="phone"></label>
                  <input type="tel" id="tel" name="tel" placeholder=" Your phone number">
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div>
                  <label for="website"></label>
                  <input type="url" id="website" name="website" placeholder=" Your website url">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div>
                  <label for="msg"></label>
                  <textarea cols="30" rows="100" id="msg" name="msg" placeholder=" Please tell me more about your project : what is it? why is it for? what do you expect from me? Timelines and budget details are also appreciated..."></textarea>
                </div>
              </div>
            </div>
            <div class="button">
              <button type="submit" class="submit-form-button">Submit</button>
            </div>
          </form>
 -->        </div>
      </div>
    </section>
  </div>

</div>
<script src="/javascripts/typewriter.js"></script>
<script src="/javascripts/navbar.js"></script>
<script src="/javascripts/scrollspy.js"></script>
<script src="/javascripts/smoothscroll.js"></script>
